### use # to comment out the configure item

### I/O ###
train_dir=../data/genia/train.outermost.iobes
dev_dir=../data/genia/dev.outermost.iobes
test_dir=../data/genia/test.outermost.iobes

model_dir=result/genia/lstmcrf.0419
output_dir=result/genia/outermost_0419/
word_emb_dir=../data/genia/genia.pubMed-30.200

norm_word_emb=False
norm_char_emb=False
number_normalized=False
seg=True
word_emb_dim=50
char_emb_dim=32


###NetworkConfiguration###
use_crf=True
use_char=True
word_seq_feature=LSTM
char_seq_feature=IntNet


###TrainingSetting###
status=train
optimizer=SGD
iteration=1000
batch_size=32
ave_batch_loss=False

###Hyperparameters###
cnn_layer=4
intNet_layer=7
intNet_kernel_type=2
char_hidden_dim=50
hidden_dim=256
dropout=0.5
num_ne=6 
sch_k=1
bias=0
max_depth=5
gcn_layer=1
lstm_layer=1
lambda1=1.5
lambda2=1.5
bilstm=True
learning_rate=0.015
learning_rate_gcn=0.001
lr_decay=0.05
momentum=0
l2=1e-8
clip=27
