### use # to comment out the configure item

### I/O ###
train_dir=/home/luoy/sample_data/ARNs/KBP/train.outermost.iobes
dev_dir=/home/luoy/sample_data/ARNs/KBP/dev.outermost.iobes
test_dir=/home/luoy/sample_data/ARNs/KBP/test.outermost.iobes

model_dir=result/KBP/lstmcrf.0412.mask.bs10.clip50
output_dir=result/KBP/outermost_default/
word_emb_dir=/home/luoy/sample_data/ARNs/KBP/glove_6b_dim100.dat 
#word_emb_dir=/home/luoy/sample_data/embedding/glove.840B.300d.txt

norm_word_emb=False
norm_char_emb=False
number_normalized=False
seg=True
word_emb_dim=50
char_emb_dim=32
# original 30


###NetworkConfiguration###
use_crf=True
use_char=True
word_seq_feature=LSTM
char_seq_feature=IntNet

###TrainingSetting###
status=train
optimizer=SGD
iteration=300
batch_size=10
ave_batch_loss=False

###Hyperparameters###
cnn_layer=4
intNet_layer=7
intNet_kernel_type=2
char_hidden_dim=50
hidden_dim=256
dropout=0.5
lstm_layer=1
bilstm=True
max_depth=5
gcn_layer=1
lambda1=1.5
lambda2=1.5
learning_rate=0.015
lr_decay=0.05
momentum=0
l2=1e-8
clip=50
